@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('/wood.png');
    background-color: #91521ef7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

